            <!-- /.row -->
            <div class="row page-header" style="margin-top: 50px">
                <div class="col-md-4">
                    AC/DC back in Black
                </div>
                <div class="col-md-5">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        60%
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-rigth">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-backward"></span>
                    </button>
                     <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-forward"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-volume-down"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-volume-up"></span>
                    </button>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row" style="margin-top: 50px">
                <div class="col-md-8">
                <ul>
                <li ng-repeat="test in tests"><a ng-click='selecttest($index)'>{[{ test }]}</a></li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="https://i.ytimg.com/vi/pAgnJDJN4VA/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=L2YGPmaVy88aKfn-8mnLzL1wpgE" height="60" width="80">
                                    <!--i class="fa fa-comments fa-5x"></i-->
                                </div>
                                <div class="col-md-7">
                                    <div>AC/DC back in Black</div><br>
                                    <div>https://i.ytimg.com/vi/pAgnJDJN4VA/</div>
                                </div>
                                <div class="col-md-3 text-right">
                                    <div class="huge">26</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-repeat="test in tests"><a ng-click='selecttest($index)'>{[{ test }]}</a></li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="https://i.ytimg.com/vi/pAgnJDJN4VA/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=L2YGPmaVy88aKfn-8mnLzL1wpgE" height="60" width="80">
                                    <!--i class="fa fa-comments fa-5x"></i-->
                                </div>
                                <div class="col-md-7">
                                    <div>AC/DC back in Black</div><br>
                                    <div>https://i.ytimg.com/vi/pAgnJDJN4VA/</div>
                                </div>
                                <div class="col-md-3 text-right">
                                    <div class="huge">26</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-repeat="test in tests"><a ng-click='selecttest($index)'>{[{ test }]}</a></li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="https://i.ytimg.com/vi/pAgnJDJN4VA/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=L2YGPmaVy88aKfn-8mnLzL1wpgE" height="60" width="80">
                                    <!--i class="fa fa-comments fa-5x"></i-->
                                </div>
                                <div class="col-md-7">
                                    <div>AC/DC back in Black</div><br>
                                    <div>https://i.ytimg.com/vi/pAgnJDJN4VA/</div>
                                </div>
                                <div class="col-md-3 text-right">
                                    <div class="huge">26</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-repeat="test in tests"><a ng-click='selecttest($index)'>{[{ test }]}</a></li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="https://i.ytimg.com/vi/pAgnJDJN4VA/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=L2YGPmaVy88aKfn-8mnLzL1wpgE" height="60" width="80">
                                    <!--i class="fa fa-comments fa-5x"></i-->
                                </div>
                                <div class="col-md-7">
                                    <div>AC/DC back in Black</div><br>
                                    <div>https://i.ytimg.com/vi/pAgnJDJN4VA/</div>
                                </div>
                                <div class="col-md-3 text-right">
                                    <div class="huge">26</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-repeat="test in tests"><a ng-click='selecttest($index)'>{[{ test }]}</a></li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="https://i.ytimg.com/vi/pAgnJDJN4VA/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=L2YGPmaVy88aKfn-8mnLzL1wpgE" height="60" width="80">
                                    <!--i class="fa fa-comments fa-5x"></i-->
                                </div>
                                <div class="col-md-7">
                                    <div>AC/DC back in Black</div><br>
                                    <div>https://i.ytimg.com/vi/pAgnJDJN4VA/</div>
                                </div>
                                <div class="col-md-3 text-right">
                                    <div class="huge">26</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-repeat="test in tests"><a ng-click='selecttest($index)'>{[{ test }]}</a></li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="https://i.ytimg.com/vi/pAgnJDJN4VA/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=L2YGPmaVy88aKfn-8mnLzL1wpgE" height="60" width="80">
                                    <!--i class="fa fa-comments fa-5x"></i-->
                                </div>
                                <div class="col-md-7">
                                    <div>AC/DC back in Black</div><br>
                                    <div>https://i.ytimg.com/vi/pAgnJDJN4VA/</div>
                                </div>
                                <div class="col-md-3 text-right">
                                    <div class="huge">26</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-repeat="test in tests"><a ng-click='selecttest($index)'>{[{ test }]}</a></li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="https://i.ytimg.com/vi/pAgnJDJN4VA/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=L2YGPmaVy88aKfn-8mnLzL1wpgE" height="60" width="80">
                                    <!--i class="fa fa-comments fa-5x"></i-->
                                </div>
                                <div class="col-md-7">
                                    <div>AC/DC back in Black</div><br>
                                    <div>https://i.ytimg.com/vi/pAgnJDJN4VA/</div>
                                </div>
                                <div class="col-md-3 text-right">
                                    <div class="huge">26</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-repeat="test in tests"><a ng-click='selecttest($index)'>{[{ test }]}</a></li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="https://i.ytimg.com/vi/pAgnJDJN4VA/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=L2YGPmaVy88aKfn-8mnLzL1wpgE" height="60" width="80">
                                    <!--i class="fa fa-comments fa-5x"></i-->
                                </div>
                                <div class="col-md-7">
                                    <div>AC/DC back in Black</div><br>
                                    <div>https://i.ytimg.com/vi/pAgnJDJN4VA/</div>
                                </div>
                                <div class="col-md-3 text-right">
                                    <div class="huge">26</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                </ul>
                </div>
                <div class="col-md-4">
                <ul>
                <li ng-repeat="test in tests"><a ng-click='selecttest($index)'>{[{ test }]}</a></li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="https://i.ytimg.com/vi/pAgnJDJN4VA/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=L2YGPmaVy88aKfn-8mnLzL1wpgE" height="60" width="80">
                                    <!--i class="fa fa-comments fa-5x"></i-->
                                </div>
                                <div class="col-md-10 text-right">
                                    <div>AC/DC back in Black</div><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-repeat="test in tests"><a ng-click='selecttest($index)'>{[{ test }]}</a></li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="https://i.ytimg.com/vi/pAgnJDJN4VA/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=L2YGPmaVy88aKfn-8mnLzL1wpgE" height="60" width="80">
                                    <!--i class="fa fa-comments fa-5x"></i-->
                                </div>
                                <div class="col-md-10 text-right">
                                    <div>AC/DC back in Black</div><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-repeat="test in tests"><a ng-click='selecttest($index)'>{[{ test }]}</a></li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="https://i.ytimg.com/vi/pAgnJDJN4VA/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=L2YGPmaVy88aKfn-8mnLzL1wpgE" height="60" width="80">
                                    <!--i class="fa fa-comments fa-5x"></i-->
                                </div>
                                <div class="col-md-10 text-right">
                                    <div>AC/DC back in Black</div><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-repeat="test in tests"><a ng-click='selecttest($index)'>{[{ test }]}</a></li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="https://i.ytimg.com/vi/pAgnJDJN4VA/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=L2YGPmaVy88aKfn-8mnLzL1wpgE" height="60" width="80">
                                    <!--i class="fa fa-comments fa-5x"></i-->
                                </div>
                                <div class="col-md-10 text-right">
                                    <div>AC/DC back in Black</div><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                </ul>
                </div>
            </div>