            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> <a href="#/product/{{ project }}"</a>  <span class="label label-info">{{project}}</span> 
                        <a href="#/product/{{ project }}/station/{{station}}"</a><span class="label label-info">{{station}}</span> 
                        <a href="#/product/{{ project }}/station/{{station}}/build/{{build}}"</a><span class="label label-info">{{build}}</span>
                        <a href="#/product/{{ project }}/station/{{station}}/build/{{build}}/test/{{test}}"</a><span class="label label-info">{{test}}</span>
                        </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
                        <!-- /.row -->       
            <div id="thePlace" class="row" style="width:100%">
            {% for div in the_div %}
                {{div|safe}}
            {% endfor %}
            </div>
            {% for script in the_script%}
                {{script|safe}}
            {% endfor %}
